*.java linguist-detectable=true
*.python linguist-detectable=false
*.cs linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.php linguist-detectable=false
*.ruby linguist-detectable=false
*.go linguist-detectable=false
*.ts linguist-detectable=false
*.swift linguist-detectable=false
*.r linguist-detectable=false
*.json linguist-detectable=false
*.yml linguist-detectable=false
*.md linguist-detectable=false
*.txt linguist-detectable=false
*.log linguist-detectable=false
*.sql linguist-detectable=false
*.dockerfile linguist-detectable=false
*.bash linguist-detectable=false
*.sh linguist-detectable=false
*.h linguist-detectable=false
*.cpp linguist-detectable=false
*.c linguist-detectable=false
*.vb linguist-detectable=false
*.pl linguist-detectable=false
*.m linguist-detectable=false
*.erl linguist-detectable=false
*.clj linguist-detectable=false
*.dart linguist-detectable=false
*.actionscript linguist-detectable=false
*.hbs linguist-detectable=false
*.scss linguist-detectable=false
*.less linguist-detectable=false
*.tsv linguist-detectable=false
*.csv linguist-detectable=false
*.yaml linguist-detectable=false
*.ini linguist-detectable=false
*.properties linguist-detectable=false
*.conf linguist-detectable=false
*.lock linguist-detectable=false
*.cfg linguist-detectable=false
*.tmux.conf linguist-detectable=false
*.gitignore linguist-detectable=false
*.editorconfig linguist-detectable=false
*.env linguist-detectable=false
*.htaccess linguist-detectable=false
*.md5 linguist-detectable=false
*.sha256 linguist-detectable=false
*.pem linguist-detectable=false
*.crt linguist-detectable=false
*.key linguist-detectable=false
*.pfx linguist-detectable=false
*.csr linguist-detectable=false
*.jpg linguist-detectable=false
*.jpeg linguist-detectable=false
*.png linguist-detectable=false
*.gif linguist-detectable=false
*.svg linguist-detectable=false
*.ico linguist-detectable=false
*.webp linguist-detectable=false
*.bmp linguist-detectable=false
*.tiff linguist-detectable=false
*.mp4 linguist-detectable=false
*.mp3 linguist-detectable=false
*.wav linguist-detectable=false
*.ogg linguist-detectable=false
*.zip linguist-detectable=false
*.tar.gz linguist-detectable=false
*.rar linguist-detectable=false
*.7z linguist-detectable=false
*.iso linguist-detectable=false
*.exe linguist-detectable=false
*.dll linguist-detectable=false
*.sys linguist-detectable=false
*.apk linguist-detectable=false
*.dmg linguist-detectable=false
*.psd linguist-detectable=false
*.ai linguist-detectable=false
*.eps linguist-detectable=false
*.indd linguist-detectable=false
*.xcf linguist-detectable=false